<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminBusinessMapper">



  <select id="getBusinessCnt" resultType="int">
	SELECT COUNT(NO) FROM BUSINESS_MEMBER WHERE QUIT_YN = 'N'

  </select>
  
  
    <select id="selectBusinessList" resultType="com.kh.app.member.vo.MemberVo">
SELECT * FROM
(SELECT ROWNUM AS RNUM, T.*
FROM
(
SELECT NO,ID,NICK,TO_CHAR(ENROLL_DATE, 'YY/MM/DD') AS ENROLL_DATE
FROM BUSINESS_MEMBER
WHERE ADMIN_APPROVE ='N'
ORDER BY NO DESC
)T
)WHERE RNUM BETWEEN #{startNum} AND #{endNum}


  </select>
  
  <update id="approve">
	UPDATE BUSINESS_MEMBER
    	SET QUIT_YN ='Y'
    	<!-- BoardDao에서 넘어온 배열 이름 그대로 쓰는게 아님. 무조건 'array로' -->
    <foreach item="no" collection="array" separator="," open="WHERE NO IN (" close=")">
    #{no}
	</foreach>
</update>
  
  
  
</mapper>