<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminMemberMapper">
  <select id="getMemberCnt" resultType="int">
	SELECT COUNT(NO) FROM MEMBER WHERE QUIT_YN = 'N'

  </select>
  
  
    <select id="selectMemberList" resultType="com.kh.app.member.vo.MemberVo">
	SELECT * FROM
	(SELECT ROWNUM AS RNUM, T.*
	FROM
	(
	SELECT NO,ID,NICK,TO_CHAR(ENROLL_DATE, 'YY/MM/DD') AS ENROLL_DATE
	FROM MEMBER
	WHERE QUIT_YN ='N'
	ORDER BY NO DESC
	)T
	)WHERE RNUM BETWEEN #{startNum} AND #{endNum}
	

  </select>
  
  
</mapper>