<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReservationMapper">
  <insert id="book">
  	INSERT INTO RESERVATION
	(
	RESERVATION_ID
	, USER_NO
	, CHECK_IN_DATE
	, CHECK_OUT_DATE
	, TOTAL_GUEST
	, TOTAL_PRICE
	, STAY_NO
	, COUNT_DOG
	)
	VALUES
	(
	SEQ_RESERVATION.NEXTVAL
	, #{userNo}
	, #{checkInDate}
	, #{checkOutDate}
	, #{totalGuest}
	, #{totalPrice}
	, #{stayNo}
	, #{countDog}
	)
  </insert>
  
  <select id="selectByBusiness" parameterType="map" resultType="com.kh.app.reservation.vo.ReservationVo">
  	SELECT * FROM
  	(
  	SELECT ROWNUM AS RNUM, T.*
  	FROM
  	(
  	SELECT R.RESERVATION_ID, M.NICK, R.CHECK_IN_DATE, R.CHECK_OUT_DATE, S.ROOM_NAME, S.STORE_NAME
    FROM RESERVATION R
        JOIN MEMBER M
        ON R.USER_NO = M.NO
        JOIN STAY S
        ON R.STAY_NO = S.NO
        JOIN BUSINESS_MEMBER B
        ON B.NO = S.BUSINESS_MEMBER_NO
    WHERE B.NO = #{no, jdbcType=NUMERIC}
    )T
    ) WHERE RNUM BETWEEN #{startNum} AND #{endNum}
  </select>
  
  <select id="getReservationCnt" resultType="int">
  	SELECT COUNT(RESERVATION_ID) FROM RESERVATION WHERE RESERVATION_STATUS = 1
  </select>
  
  <update id="approve">
  	UPDATE RESERVATION
    	SET RESERVATION_STATUS = 2
    	<!-- BoardDao에서 넘어온 배열 이름 그대로 쓰는게 아님. 무조건 'array로' -->
    <foreach item="reservationId" collection="array" separator="," open="WHERE RESERVATION_ID IN (" close=")">
    #{reservationId}
	</foreach>
  </update>
</mapper>