<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StayMapper">
  <insert id="register">
  	INSERT INTO STAY (
    NO
    , STORE_NAME
    , ADDRESS
    , INTERNET_AD
    , PHONE
    , EMAIL
    , BUSINESS_MEMBER_NO
    , BUSINESS_NO
    , STAY_CODE
    , WATER_PLAY_YN
    , TYPE_DOG
    )
    VALUES (
    SEQ_STAY.NEXTVAL
    , #{storeName}
    , #{address}
    , #{internetAd}
    , #{phone}
    , #{email}
    , #{businessMemberNo}
    , #{businessNo}
    , #{stayCode}
    , #{waterPlayYn}
    , #{typeDog}
	)
  </insert>
</mapper>