<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StayMapper">
  <insert id="register">
  	INSERT INTO STAY 
  	(
	    NO
	    , STORE_NAME
	    , ADDRESS
	    , INTERNET_AD
	    , PHONE
	    , EMAIL
	    , BUSINESS_MEMBER_NO
	    , BUSINESS_NO
	    , STAY_CODE
	    , WATER_PLAY_YN
	    , TYPE_DOG
	    , ROOM_NAME
    	, CAPACITY
    	, PRICE
    	, THUMBNAIL
    	,BIO
    )
    VALUES 
    (
    	SEQ_STAY.NEXTVAL
	    , #{storeName}
	    , #{address}
	    , #{internetAd}
	    , #{phone}
	    , #{email}
	    , #{businessMemberNo}
	    , #{businessNo}
	    , #{stayCode}
	    , #{waterPlayYn}
	    , #{typeDog}
	    , #{roomName}
	    , #{capacity}
	    , #{price}
	    , #{thumbnail}
	    ,#{bio}
	)
  </insert>
  
  <insert id="insertStayPic">
  	INSERT ALL
  		<foreach collection="list" item="vo">
  		INTO STAY_PIC 
  		(
		    NO
		    , STAY_NO
		    , ORIGIN_NAME
		    , CHANGE_NAME
	    )
	    VALUES 
	    (
		    (SELECT FN_GET_STAY_PIC_SEQ_NEXTVAL FROM DUAL)
		    , SEQ_STAY.CURRVAL
		    , #{vo.originName}
		    , #{vo.changeName}
		)
  		</foreach>
	SELECT * FROM DUAL
  </insert>
  
    <select id="selectStayList" resultType="com.kh.app.stay.vo.StayVo">
    SELECT S.NO, S.STORE_NAME, S.ADDRESS ,S.INTERNET_AD,S.EMAIL,S.STAY_CODE,S.BUSINESS_MEMBER_NO,S.PHONE, S.WATER_PLAY_YN ,S.THUMBNAIL ,S.PRICE ,S.ROOM_NAME,S.CAPACITY ,S.BIO,C.NAME AS CATEGORY_NAME ,S.TYPE_DOG,D.DOG_SIZE
    FROM STAY S
    JOIN STAY_CATEGORY C ON S.STAY_CODE = C.NO
    JOIN SIZE_DOG D ON S.TYPE_DOG = D.NO
    WHERE S.DEL_YN = 'N'
    ORDER BY S.NO DESC

  </select>
  
  
    <select id="getStayByNo" resultType="com.kh.app.stay.vo.StayVo">
    SELECT  S.NO,S.STORE_NAME, S.ADDRESS ,S.INTERNET_AD,S.EMAIL,S.STAY_CODE,S.BUSINESS_MEMBER_NO,S.PHONE, S.WATER_PLAY_YN ,S.THUMBNAIL ,S.PRICE ,S.ROOM_NAME,S.CAPACITY ,S.BIO,C.NAME AS CATEGORY_NAME ,S.TYPE_DOG,D.DOG_SIZE
    FROM STAY S
    JOIN STAY_CATEGORY C ON S.STAY_CODE = C.NO
    JOIN SIZE_DOG D ON S.TYPE_DOG = D.NO
    WHERE S.DEL_YN = 'N'
    AND S.NO = #{no, jdbcType=NUMERIC}
    ORDER BY S.NO DESC

  </select>
  
  
  <select id = "getStayPic" resultType="com.kh.app.stay.vo.StayPicVo">
  SELECT * FROM STAY_PIC WHERE STAY_NO =#{no, jdbcType=NUMERIC} AND DEL_YN = 'N'
  
  </select>
  
  
  
  
</mapper>