
/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  background-color: #ffffff;
  height: 932px;
  max-height: 932px;
  width: 430px;
  margin: 0;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  overflow-x: hidden; /* 수평 스크롤바 제거 */
  box-sizing: border-box;
}

/* 헤더 */
header {
  height: 60px;
  background-color: #1A2B63;
  color: ghostwhite;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 8fr 2fr;
  /* margin-bottom: 5px; */
}



.buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  text-decoration: none;
}



#home-btn {
  flex: 8;
}

/* #sidebar-btn, #logout-btn {
  flex: 1;
} */

.fi {
  background-color: none;
  color: ghostwhite;
}

/* 메인 섹션 */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  height: 932px;
  background-color: ghostwhite;
  box-sizing: border-box;
  padding: 15px 15px;
  font-size: 13px;
  overflow: hidden; 
  border: solid 0.5px;
  border-color: black;
  overflow-y: auto;
}


.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  height: auto;
  padding: 15px;
  border: double 3px;
  border-color: lightgray;
  padding: 10px 10px;
  overflow: hidden; 
  margin: 0 auto;
  box-sizing: border-box;
}


/*탑버튼*/
#top-button {
  display: none; /*초기에는 숨김*/
  background-color: grey;
  color: white;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

/* 푸터 스타일 */
footer {
  background-color: #333;
  color: white;
  height: auto;
  text-align: center;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px; */
  font-size: 0.5em;
}
/* 로그인 후 "환영합니다." 텍스트 출력  */
#login-info-space {
  font-size: 10px;
}

#title {
  text-align: center;
}