/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  display: flex;
  justify-content: center;
}

body {
  background-color: #ffffff;
  height: 932px;
  max-height: 932px;
  width: 430px;
  margin: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow-x: hidden; /* 수평 스크롤바 제거 */
  box-sizing: border-box;
  /* display: grid;
  grid-template-columns: 8fr 2fr; */
}



.main-content {
  display: grid;
 
  background-color: #1A2B63;
  
}

/* 헤더 */
header {
  height: 60px;
  background-color: #1A2B63;
  color: ghostwhite;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 8fr 2fr;
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  text-decoration: none;
}

.fi-rr-exit {
  background-color: none;
  color: ghostwhite;
}


#login-img {
  border-radius: 20px;
}

#login-info-space {
  font-size: 10px;
}

/*메인 섹션*/
main {
  flex: 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  row-gap: 1px;
  column-gap: 1px;
  background-color: #1A2B63;
}

a {
  text-decoration: none;
  color: ghostwhite;
}

.grid-item {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 107px;
  border-radius: 8px;
  font-size: 14px;
  margin-left: 6px;
  margin-top: 6px;
  transition: 0.5s;
}

.grid-item:hover {
  background-color: rgb(199, 198, 198);
  cursor: pointer;
}

.top-element {
  justify-self: center;
  align-self:self-end;
  margin-left: 0px;
  margin-right: 0px;
}

#logout {
  width: 100%;
  border-radius: 5px;
  border: 1px solid gray;
}

/*탑버튼*/
#top-button {
  display: none; /*초기에는 숨김*/
  background-color: grey;
  color: white;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

/* 사이드바 */
/* #side-bar {
  background-color: #ffffff;
  width: auto;
  height: 100%;
  margin-left: 0%;
  transition: 0.5s;
  display: grid;
  grid-template-rows: 60px 6fr auto;
  opacity: 0;
}


#side-bar.active {
  margin-left:0%;
  background-color: #1A2B63;
  color: #ffffff;
  opacity: 1;
}

.side-bar-btns {
  flex: 1;
  align-self: self-end;
  
}
*/

/*푸터*/
footer {
  background-color: #333;
  color: white;
  text-align: center;
  height: 60px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  font-size: 0.5em;
  border-radius: 10px;
}
