/* 테이블 스타일 */
#table {
  width: 430px;
  max-width: 430px;
}

th {
  background-color: rgb(191, 191, 191);
  padding: 10px; /* 여백 추가 */
  text-align: center; /* 중앙 정렬 */
  font-weight: bold; /* 글자 두껍게 */
}

th, td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* padding: 8px; 여백 추가 */
  text-align: center; /* 중앙 정렬 */
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 */
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 '...'로 표시 */
} 

tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* 짝수 행 배경색 */
}

tbody tr:hover {
  background-color: #e7e7e7; /* 마우스 오버 시 배경색 */
}

td a {
  text-decoration: none;
  color: black;
}

/* 각 열의 너비 설정 */
table td:nth-of-type(1),
table th:nth-of-type(1) {
  width: 50px;
}

table td:nth-of-type(2),
table th:nth-of-type(2) {
  max-width: 120px;
}

table td:nth-of-type(3),
table th:nth-of-type(3) {
  width: 200px;
}

table td:nth-of-type(4),
table th:nth-of-type(4) {
  width: 120px;
}

tfoot td div {
  width: 100%;
  display: flex;
  justify-content: space-around;

}

tfoot td div button {
  padding: 10px 20px; /* 버튼 여백 */
  border: none;
  background-color: #334D8F; /* 버튼 배경색 */
  color: white;
  cursor: pointer; /* 마우스 포인터 변경 */
  transition: background-color 0.3s; /* 배경색 전환 효과 */
}

tfoot td div button:hover {
  background-color: #2b3b6f; /* 마우스 오버 시 버튼 배경색 */
}



/* ======================================================================================================= */

/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  display: flex;
  justify-content: center;
}

body {
  background-color: #ffffff;
  height: auto;
  max-height: 932px;
  width: 430px;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  overflow-x: hidden; /* 수평 스크롤바 제거 */
  box-sizing: border-box;
}

/* 헤더 */
header {
  height: 60px;
  background-color: #1A2B63;
  color: ghostwhite;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 8fr 2fr;
  /* margin-bottom: 5px; */
}

h2 {
  padding-left: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  text-decoration: none;
}

.detailbtn{
  width: 100%;
  height: 80px;
  cursor: pointer;
  background-color: white;
  border: none;
}

.detailbtn:hover {
  background-color:#dedede;
  
}

.detailbtn:active {
  font-weight: bold;
}

#home-btn {
  flex: 8;
}

/* #sidebar-btn, #logout-btn {
  flex: 1;
} */

.fi {
  background-color: none;
  color: ghostwhite;
}

a {
  text-decoration: none;
  color: ghostwhite;
}

/* 메인 섹션 */
main {
  /* width: 100%; */
  height: auto;
  background-color: ghostwhite;
  /* margin: 0 auto; */
  /* padding: 20px; */
  /* color: #000000; */
  font-size: 13px;
}

/*탑버튼*/
#top-button {
  display: none; /*초기에는 숨김*/
  background-color: grey;
  color: white;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

/* 푸터 스타일 */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px; */
  font-size: 0.5em;
}
/* 로그인 후 "환영합니다." 텍스트 출력  */
#login-info-space {
  font-size: 10px;
}

#title {
  text-align: center;
}